@model ASP_MVC.Models.Comment.CommentCreateForm

@{
    Guid cocktail_id = Guid.Parse(ViewContext.RouteData.Values["id"].ToString());
}
<h4>Ajoutez un commentaire :</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Comment" asp-route-id="@cocktail_id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input type="range" min="0" max="5" step="0.5" asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Concern" value="@cocktail_id" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="CreatedBy" value="@(sessionManager.ConnectedUser!.User_Id)" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Envoyer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
